body {
    margin: 0;
    padding: 0;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    box-shadow: 0px 1px 5px #b5b5b5;
}

.profile-box {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    position: relative;
    padding: 20px 30px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
}

.profile-detail {
    height: 100%;
    width: 20%;
    min-width: 20%;
    background-color: #fff;
    box-shadow: 0px 1px 5px #b5b5b5;
    color: #000;
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-detail-label {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-variant: small-caps;
    color: #696969;
    margin-bottom: -5px;
}

    .profile-detail-label:hover {
        color: #000;
    }

.profile-detail-text {
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}


.profile-table {
    width: 75%;
}

.profile-btn-active {
    width: 80%;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .5s ease 0s, left .5s ease 0s;
    border-radius: .5rem;
    margin-top: 30px;
    display: block;
}

    .profile-btn-active:hover {
        background-color: #fff;
        color: #000;
        box-shadow: 0px 1px 5px #b5b5b5;
    }

.profile-btn {
    width: 80%;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .5s ease 0s, left .5s ease 0s;
    border-radius: .5rem;
    margin-top: 30px;
    display: block;
}

    .profile-btn:hover {
        background-color: #000;
        color: #fff;
        box-shadow: 0px 1px 5px #b5b5b5;
    }

.profile-pic {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px #b5b5b5;
}


.profile-gridview {
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    grid-column-gap: 50px;
}








.profile-addartwork {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 0px;
}

.profile-artworkrow {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.profile-addtitle {
    padding: 20px;
    padding-top: 5px;
    font-size: 2rem;
}

.profile-addquestion {
    min-width: 150px;
}

.profile-uploadbtn {
    width: 180px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .5s ease 0s, left .5s ease 0s;
    border-radius: .5rem;
    margin: 30px 0 0 170px;
    display: block;
    cursor: pointer;
}

    .profile-uploadbtn:hover {
        opacity: .9;
        box-shadow: 0px 1px 5px #b5b5b5;
    }


.upload-msg {
    margin-left: 170px;
    color: #696969;
}










.profile-manageorder {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 0px;
}

.profile-orderrow {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.profile-ordercol {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.order-manage-btn {
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: .5rem;
    border: 1px solid black;
    width: 160px;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}


